body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.loading-circle {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #ff9a9a;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Define aquí tu animación (nombre, duración, repetición)*/

  animation: loading 2s infinite;

}

/* Escribe aquí los keyframes de tu animación */

@keyframes loading{

  25%{
    background-color: rgb(205, 241, 131);
  }

  50%{
    transform: scale(1.5);
    background-color: rgb(147, 227, 233);
  }

  75%{
    background-color: rgb(201, 151, 241);
  }

}